@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

.detail-quiz-container {
    padding: 30px 0;
    .left-content {
        .title {
            font-size: 26px;
            font-weight: 600;
        }
        .q-content {
            .answer {
                .form-check {
                    margin-bottom: 10px;
                    user-select: none;
                    -webkit-user-select: none;
                }
                input {
                    display: none;
                    &:checked + .a-label::after {
                        opacity: 1;
                        visibility: visible;
                    }
                    &:checked + .a-label::before {
                        background-color: #dc3545;
                    }
                }
                .a-label {
                    font-size: 18px;
                    text-align: left;
                    font-weight: 400;
                    line-height: 1.5;
                    padding-left: 3rem;
                    display: inline-block;
                    word-break: break-word;
                    white-space: normal;
                    cursor: pointer;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 1.8rem;
                        height: 1.8rem;
                        border-radius: 4px;
                        border: 1px solid #ccc;
                        background-color: transparent;
                        left: 0;
                        transition: all 0.25s ease;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0.5rem;
                        left: 0.35rem;
                        width: 1rem;
                        height: 0.4rem;
                        transform: rotate(-45deg);
                        border-left: 2.2px solid white;
                        border-bottom: 2.2px solid white;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.2s linear;
                    }
                }
            }
            .q-image {
                width: auto;
                height: 200px;
                text-align: center;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                }
            }
            .question {
                font-size: 20px;
                font-weight: 500;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
        .footer {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
        }
    }
    .right-content {
    }
}
