$header: 40px;
.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            min-height: 100vh;
        }
    }
    .admin-content {
        width: 100%;
        .admin-header {
            height: $header;
            border: 1px solid green;
        }
        .admin-main {
            height: calc(100vh - $header);
        }
    }
}
.ovf-hidden {
    overflow: hidden;
}
