.log-container {
    padding-bottom: 50px;
    .header {
        height: 45px;
        padding: 0 30px;
        margin: 25px 0;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 8px;
    }
    .title {
        font-size: 25px;
        padding: 20px 0;
        font-weight: 500;
    }
    .welcome {
        font-size: 20px;
        padding: 10px 0;
    }
    .content-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
        input {
            &::placeholder {
                color: #757575;
            }
        }
        button {
            &:disabled {
                background-color: #ddd;
                color: #afafaf;
                cursor: no-drop;
                border: none;
            }
        }
    }
    .back {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .form-text-forgot {
        text-decoration: underline;
        color: #393737;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
    .form-check {
        .form-check-label {
            span {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
